html {
    padding: 0px;
    margin: 0px;
}

.sec1 {
    background-color: #6871B6;


}

.logo {
    float: left;
    padding-right: 20%;

}

.nav {
    padding-right: 20%
}

.nav li {
    padding: 5% 5%;
}

.gift {
    padding-right: 2%;

}

.gift img {
    height: 20px;
    width: 20px;
    filter: invert(1);

}

.hambuger {
    padding-right: 5%
}

.hambuger img {
    height: 20px;
    width: 20px;
    filter: invert(1);

}
.man{
   display: block;
}
.man2{
   display: none;
}

.animated-icon1 {
    width: 30px;
    height: 20px;
    position: relative;
    margin: 0px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
    }
    
    .animated-icon1 span {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
    }
    
    .animated-icon1 span {
    background: whitesmoke;
    }
    
    .animated-icon1 span:nth-child(1) {
    top: 0px;
    }
    
    .animated-icon1 span:nth-child(2) {
    top: 10px;
    }
    
    .animated-icon1 span:nth-child(3) {
    top: 20px;
    }
    
    .animated-icon1.open span:nth-child(1) {
    top: 11px;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
    }
    
    .animated-icon1.open span:nth-child(2) {
    opacity: 0;
    left: -60px;
    }
    
    .animated-icon1.open span:nth-child(3) {
    top: 11px;
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg);
    }
    
    

.sec2 {
    padding-top: 5%;
    color: whitesmoke;
    background-color: #6871B6;
}


.sec2 h1 {
    text-align: center;
    font-size: 64px;
    font-weight: 700 !important;
    font-family: sans-serif;


}

.sec2 p {
    text-align: center;
    font-size: 24PX;
    font-weight: 700 !important;
    font-family: sans-serif;

}

.sec3 li {
    padding: 2% 2%;
}

.sec3 img {
    height: 100%;
}

.sec4 {
    margin-top: 10%;
    margin-bottom: 10%;

}

.non {
    display: block;
}

.non2 {
    display: none;

}

.sec4 div {
    padding: 0% 7%;
}

.sec4 img {
    height: 80%;
    width: 80%;
}

.sec4 h1 {

    font-size: 64px;
    font-weight: 700 !important;
    font-family: sans-serif;

}

.sec4 p {
    font-size: 20PX;
    font-weight: 700 !important;
    font-family: sans-serif;

}

.sec4 a {
    text-decoration: none;
    color: rgba(0, 0, 255, 0.65);
    font-size: 20PX;
    font-weight: 700 !important;
    font-family: sans-serif;

}

.sec4 a:hover {
    color: rgb(0, 4, 255);
}

.sec4 img {
    height: 100%;
    width: 80%;
}

.sec5 h1 {
    text-align: center;
    font-size: 56px;
    font-weight: 700 !important;
    font-family: sans-serif;


}

.sec5 p {
    text-align: center;
    font-size: 20PX;
    font-family: sans-serif;

}

.wid {
    width: 600px;
}

.wid2 {
    width: 296px;
    margin: 0px 6px;
}

.centered {
    display: flex;
    align-items: center;
    justify-content: center;
}


.btn1 {

    background-color: #343a40d8;
    padding: 10px 25px;
    font-size: 20px;
    font-weight: 700 !important;
    border-color: #343a40d8;
    transition: all 0.5s;
    border-radius: 5px;
    color: whitesmoke;
    margin-bottom: 10%;


}

.btn1:hover {
    background-color: #343a40;
    border-color: #343a40;
    border-radius: 10px;

}

.sec6 {
    background-color: #6871B6;
    color: whitesmoke;
    padding: 5% 0px;
}

.sec6 h1 {
    text-align: center;
    font-size: 44px;
    font-weight: 700 !important;
    font-family: sans-serif;


}

.sec6 p {
    text-align: center;
    font-size: 18PX;
    font-family: sans-serif;

}

.sec6 li {
    padding: 5px 15px;
}

.sec6 li img {
    height: 20px;
    filter: invert(1);
}

.sec7 {
    background-color: whitesmoke;
    border-bottom: 2px solid black;
}

.sec7 li {
    padding: 10px;

}

.sec8 {
    margin-top: 3%;
    margin-left: 10%;
}

.hide1{
    display: none;
}

.lst {
    padding-left: 7%;
}

.lst1 {
    padding-left: 20%;
}

.fav1 a:hover {
    color: rgb(0, 4, 255);
}

@media only screen and (max-width: 997px) {
    .sec1 {
        padding-top: 1%;
    }
    .sec1 a{
        padding-left: 10%;
    }
    .sec1 button{
        padding-right: 8%;
    }

    .man{
        display: none;
    }
    .man2{
        display: block;
    }

    .logo {
        padding-right: 40%;

    }

    .gift {
        padding-left: 20%;
    }

    .sec2 img {
        width: 80%;
        height: 80%;

    }

    .sec2 h1 {
        font-size: 54px;
    }

    .sec2 p {
        font-size: 20px;
    }

    .non2 {
        display: block;
    }

    .non {
        display: none;

    }

    .sec4 {
        text-align: center;
        display: block;
    }

    .sec4 h1 {
        font-size: 50px;
    }

    .sec4 p {
        font-size: 16PX;

    }

    .sec4 img {
        height: 50%;
        width: 100%;
    }

    .sec5 h1 {

        font-size: 50px;
    }

    .sec5 p {
        font-size: 16PX;
    }

    .sec5 img {
        height: 50%;
        width: 70%;
    }

    .sec3 li {
        padding: 1% 1%;
    }

    .sec3 img {
        height: 80%;
        width: 80%;
    }

    .wid {
        width: 400px;
    }

    .wid2 {
        width: 194px;
        margin: 0px 4px;
    }
  
    

}
@media only screen and (max-width: 936px) {
    .sec8 {
        margin-top: 3%;
        margin-left: 2%;
    }
    
    .lst {
        padding-left: 3%;
    }
    
    .lst1 {
        padding-left: 10%;
    }
    
}
@media only screen and (max-width: 642px) {
    .hide{
        display: none;
    }
    .hide1{
        display: block;
    }
    .sec7 li {
        padding: 0px;
    
    }
    .sec6 {
        background-color: #6871B6;
        color: whitesmoke;
        
    }
    
    .sec6 h1 {
        text-align: center;
        font-size: 34px;
        font-weight: 700 !important;
        font-family: sans-serif;
    
    
    }
    
    .sec6 p {
        text-align: center;
        font-size: 16PX;
        font-family: sans-serif;
    
    }
    
    .sec6 li {
        padding: 2px 4px;
    }
    
    .sec6 li img {
        height: 15px;
        filter: invert(1);
    }
    
}

@media only screen and (max-width: 430px) {
    .sec1 {
        padding-top: 3%;
    }

    .sec1-1 {
        display: none;
    }

    .logo {
        padding-right: 40%;

    }

    .gift {
        padding-left: 20%;
    }

    .sec2 img{
        height: 10%;

    }

    .sec2 h1 {
        font-size: 44px;
    }

    .sec2 p {
        font-size: 14px;
    }
    

    .non2 {
        display: block;
    }

    .non {
        display: none;

    }

    .sec4 {
        text-align: center;
        display: block;
    }

    .sec4 h1 {
        font-size: 40px;
    }

    .sec4 p {
        font-size: 14PX;

    }

    .sec4 img {
        height: 50%;
        width: 100%;
    }

    .sec5 h1 {

        font-size: 40px;
    }

    .sec5 p {
        font-size: 14PX;
    }

    .sec5 img {
        height: 50%;
        width: 70%;
    }

    .sec3 li {
        padding: 1% 1%;
    }

    .sec3 img {
        height: 80%;
        width: 80%;
    }

    .wid {
        width: 300px;
    }

    .wid2 {
        width: 150px;
        margin: 0px 2px;
    }

}
@media only screen and (max-width: 282px) {
    .wid {
        width: 200px;
    }

    .wid2 {
        width: 100px;
        margin: 0px 1px;
    }


}
